---
import BaseLayout from "../layouts/BaseLayout.astro";
import EducationTimeLineElement from "../components/EducationTimeLine.astro";
import PositionTimeLineElement from "../components/PositionTimeLine.astro";
import education from "../../data/education.json";
import positions from "../../data/positions.json";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div>
    <div class="text-3xl w-full font-bold mb-5">CV</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold" id="title-experience">
      Experience
    </div>
  </div>

  <div class="time-line-container mb-10">
    {
      positions.map((position) => (
        <PositionTimeLineElement position={position} />
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold" id="title-education">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    {education.map((item) => <EducationTimeLineElement educationItem={item} />)}
  </div>
</BaseLayout>
