---
import BaseLayout from "../layouts/BaseLayout.astro";
import description from "../../data/description.json";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">Guillem Martínez-Cànovas</div>
    <div class="text-3xl py-3 font-bold">{description.jobTitle}</div>
    <div class="py-2">
      <text class="text-lg">
        {description.text.map((line) => <div>{line}</div>)}
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/contact">Contact me!</a>
    </div>
  </div>
</BaseLayout>
