---
import BaseLayout from "../layouts/BaseLayout.astro";
import description from "../../data/description.json";
import Pong from "@components/Pong.astro";
---

<style lang="scss">
  .waving {
    float: left;
    padding-right: 8px;
    animation: waving 6s infinite;
  }

  @keyframes waving {
    45% {
      transform: rotate(0);
    }
    47% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(40deg);
    }
    52% {
      transform: rotate(-30deg);
    }
    54% {
      transform: rotate(40deg);
    }
    58% {
      transform: rotate(0);
    }
  }
</style>

<BaseLayout title="Home" sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there <div class="waving">👋</div></div>
    <div class="text-5xl font-bold">Guillem Martínez-Cànovas</div>
    <div class="text-3xl py-3 font-bold">{description.jobTitle}</div>
    <div class="py-2">
      <text class="text-lg">
        {description.text.map((line) => <div>{line}</div>)}
      </text>
    </div>
    <div class="mt-8 text-center">
      <a class="btn" href="/contact">Contact me!</a>
    </div>
    <div class="pt-10">
      <Pong />
    </div>
  </div>
</BaseLayout>
