---
const year = new Date().getFullYear();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2" id="footer-text">
    &copy; {year} Guillem
  </div>
</footer>

<script is:inline>
  document.getElementById("footer-text").innerHTML =
    `&copy; ${new Date().getFullYear()} Guillem`;
</script>
