---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li class="mb-1 mt-1">
    <a class="py-3 text-base" id="home" href="/"
      ><i class="fa-solid fa-house"></i> Home</a
    >
  </li>
  <li class="mb-1 mt-1">
    <a class="py-3 text-base" id="cv" href="/cv"
      ><i class="fa-regular fa-file-lines"></i> CV</a
    >
  </li>
  <li class="mb-1 mt-1">
    <a class="py-3 text-base" id="dev-projects" href="/dev-projects"
      ><i class="fa-solid fa-laptop-code"></i> Dev Projects</a
    >
  </li>
  <li class="mb-1 mt-1">
    <a class="py-3 text-base" id="store" href="/academic-work"
      ><i class="fa-solid fa-user-graduate"></i> Academic work</a
    >
  </li>
  <li class="mb-1 mt-1">
    <a class="py-3 text-base" id="contact" href="/contact"
      ><i class="fa-regular fa-address-card"></i> Contact</a
    >
  </li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>
