html {
    background-color: #242322;
    color: lightgray;
}

.navbar-btn {
    padding-left: 10px;
}

.content h1, .content h2 {
    color: lightgray;
}

.home {
    text-align: center;
}

.home .sn-icon {
    padding-top: 30px;
    font-size: 36pt;
}

.home .home-img {
    width: 25%;
}